<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebAppV3</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebAppV3.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/portfolio.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout-styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+U:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Michroma&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap" rel="stylesheet">
</head>
<body>
<header class="main-header"> @* Moved main-header class to <header> *@
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light"> @* Removed redundant classes from <nav> *@
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img class="navbar-image" src="~/images/frontend/logo192.png"/> 
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex navbar-content">
                <ul class="navbar-nav navbar-nav-list">
                    <li class="nav-item">
                        <a class="nav-link text-color-main" asp-area="" asp-controller="Home" asp-action="Index">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-black" 
                           asp-area="" 
                           asp-controller="Home" 
                           asp-action="Terraform" 
                           asp-fragment="certifications">Terraform Config</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-black" 
                           asp-area="" 
                           asp-controller="Home" 
                           asp-action="Github" 
                           asp-fragment="certifications">Github Actions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-black" 
                           asp-area="" 
                           asp-controller="Home" 
                           asp-action="Architecture" 
                           asp-fragment="certifications">Architecture</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-black" asp-area="" asp-controller="DbAccess" asp-action="Index">DataBase</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-item-admin" asp-area="" asp-controller="Admin" asp-action="Index">ADMIN</a>
                    </li>
                </ul>
                <button class="contact-more" data-bs-toggle="modal" data-bs-target="#contactModal">
                    <a>
                        CONTACT 📧
                    </a>
                </button>
                <div class="d-flex align-items-center">
                    <button id="theme-toggle" class="btn btn-link nav-link-black me-2" aria-label="Toggle theme">
                        ☀️
                    </button>
                    <partial name="_LoginPartial"/>
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="main-content">
        @RenderBody()
    </main>
</div>

<!-- Contact Modal -->
    <div class="modal fade" style="padding: 0;" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content rounded-4 shadow-lg">
                <div class="modal-header border-0 pb-0">
                    <h5 class="modal-title fw-bold" id="contactModalLabel">Connect with me</h5>
                    <button type="button" class="btn-close" style="background-color: white;" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-4">
                    <p class="modal-text">Feel free to reach out through any of the following channels:</p>
                    <div class="d-grid gap-3">
                        <a href="mailto:rodionkor533@gmail.com" class="btn btn-primary btn-lg rounded-pill">
                            <img class="modal-icon" src="~/images/frontend/icons/mail.png"/>
                            <i class="bi bi-envelope-fill text-left me-2"></i> Email
                        </a>
                        <a href="https://www.linkedin.com/in/rodion-korshunov-4548b5292/" target="_blank" class="btn btn-info btn-lg rounded-pill text-white">
                            <img class="modal-icon" src="~/images/frontend/icons/business.png"/>
                            <i class="bi bi-linkedin me-2"></i> LinkedIn
                        </a>
                        <a href="https://github.com/Rod1on777" target="_blank" class="btn btn-dark btn-lg rounded-pill">
                            <img class="modal-icon" src="~/images/frontend/icons/github.png"/>
                            <i class="bi bi-github me-2"></i> GitHub
                        </a>
                    </div>
                </div>
                <div class="modal-footer border-0 pt-0">
                    <button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<footer class="main-footer">
    <div class="container">
        &copy; 2026 - WebAppV3 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>